.custom-table {
    width: 100%;
}

.custom-table>thead>tr>th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.custom-table>tbody>tr>td {
    border-width: 0;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    margin: auto;
}

.custom-table>tbody>tr>td:last-child {
    display: flex;
    justify-content: center;
}